---
import LinkButton from "../components/LinkButton.astro";
import CopyButton from "../components/CopyButton.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>i2mx</title>
	</head>
	<body class="bg-zinc-900 py-60">
		<LinkButton link="https://github.com/i2mx" title="Github" text="view the source code for my projects"/>
		<LinkButton copy="exhqx" link="https://ch.tetr.io/u/exhqx" title="TETR.IO" text="epic tetris gaming"/>
		<CopyButton copy="okii.doki" title="Discord" text="add me on discord"/>
	</body>
</html>
